* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 1rem;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}

.active {
    background-color: darkblue;
    color: white;
}

#console {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
    height: 90vh;
    border: 0.2rem solid white;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#info { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
}
#options{ 
    height: 2rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    background-color: white;
    color: black;
    padding-top: 0.5rem;
}

#content {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-y: auto;
}

#content-input{
    display: flex;
    
}

#battle_input{
    display: flex;

}

#battle_text{
    display: grid;
    grid-template-columns: 50% 50%;
}

#battle_text>*{
    font-size: 0.9rem;
    outline: 1rem;
    padding: 1rem;
}

.content_border{
    border: solid white 2px;
}

#content p{
    margin: 1rem;
    line-height: 1.4;
}

#content ul{
    list-style-type: none;
    margin: 1rem 1rem 1rem 2.5rem;
    line-height: 1.4;
}

#content a{
    color: aqua;
}
#content a:hover{
    color: blueviolet;
}

.color_blue {
    color: aqua;
}
.color_gold {
    color: gold;
}
.color_red {
    color: red;
}
.color_darkblue{

    color: blue;

}
.color_green{

    color: green;

}
.color_pink{

    color: blueviolet;

}

.padding{
    padding: 0.5rem;
}
.padding-extrem{
    padding: 2rem;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

.LineInput {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
}

.LineInput input {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    outline-width: 0;
    outline-style: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
}

.finished-input {
    color: #070;
}

#attributes {
    display: none;
}

a {
    cursor: default;
}

#battleScreen{
    display: none;
}